/phase10_bonus_timing.ipynb
/phase3_xor.ipynb
/phase4_spirale_2d.ipynb
/phase5_keras_mnist.ipynb
/phase6_activations.ipynb
/phase7_optimizers.ipynb
/phase8_pipeline_personnel.ipynb
/phase9_bonus_ablation.ipynb